.copyright {
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-between;
}

.copyright__link {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: $copyright-gray;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.copyright__text {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: $copyright-gray;
  margin: 20px 0 19px;
}

.copyright__logo {
  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}