.form {
  margin-top: 107px;
  display: flex;
  flex-direction: column;
  background-color: $gray-form;
  border-radius: 6px;
}

.form__title {
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  margin: 39px 34px 24px;
}

.form__subtitle {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 11px;
}

.form__label {
  margin: 20px 34px 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.form__input {
  margin: 12px 34px -1px;
  width: 336px;
  height: 48px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding: 14px 12px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid $border-input;
}

.form__input::placeholder {
  color: $black-opacity;
}

.form__button {
  margin-left: 34px;
  margin-top: 36px;
  box-shadow: 0 4px 4px 0 $black-shadow;
}

.form__agreement {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin: 29px 34px 0;
  letter-spacing: 0.5px;
}