.page-footer {
  min-height: 166px;
}

.page-footer__wrapper {
  max-width: 1306px;
  margin: 14px auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  min-height: 100px;
}

.page-footer__logo {
  width: 135px;
  text-align: center;
  cursor: pointer;
  margin-left: 25px;
  margin-top: -7px;
  
  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.page-footer__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  @include linear-gradient;
  display: inline-block;
  
  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}
